@model RegisterViewModel

<div class="register-page">
    <div class="page-header">
        <h1>Sign Up</h1>
    </div>

    <partial name="_ValidationSummary" />

    <div class="row">

            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Local Register</h3>
                    </div>
                    <div class="panel-body">

                        <form asp-route="SignUp">
                            <fieldset>
                                <div class="form-group">
                                    <label asp-for="Username"></label>
                                    <input class="form-control" asp-for="Username" />
                                    <span asp-validation-for="Username"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="FirstName"></label>
                                    <input class="form-control" asp-for="FirstName" />
                                    <span asp-validation-for="FirstName"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastName"></label>
                                    <input class="form-control" asp-for="LastName" />
                                    <span asp-validation-for="LastName"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email"></label>
                                    <input class="form-control" asp-for="Email" />
                                    <span asp-validation-for="Email"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Password"></label>
                                    <input class="form-control" asp-for="Password" />
                                    <span asp-validation-for="Password"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="ConfirmPassword"></label>
                                    <input class="form-control" asp-for="ConfirmPassword" />
                                    <span asp-validation-for="ConfirmPassword"></span>
                                </div>

                                <div class="form-group">
                                    <button class="btn btn-primary" name="button" value="register">Register</button>
                                    <button class="btn btn-default" name="button" value="cancel">Cancel</button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>

            @if (!String.IsNullOrEmpty(Model.ErrorMessage))
            {
                <div class="alert alert-warning">
                    <strong>Unable to sign up</strong>
                    @Model.ErrorMessage
                </div>
            }

    </div>
</div>